// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$color-brand-lightmode: #00A0FF;
$color-brand-darkmode: #ff5f00;

$color-white: #FFFFFF;
$color-gray:  #2B5F72;
$color-black: #000000;

$color-text-lightmode:  #323232;
$color-text-darkmode: #dddddd;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #FAFAFA;

$color-bg-lightmode: $color-white;
$color-bg-darkmode: #111111;

// Border
$color-border-lightmode: #E9EFF3;
$color-border-darkmode: #5C5C5C;

// Links
$color-link-lightmode:        $color-text-lightmode;
$color-link-hover-lightmode:  $color-brand-lightmode;

$color-link-darkmode: $color-text-darkmode;
$color-link-hover-darkmode: $color-brand-darkmode;

// Footer
$color-footer-lightmode: #FAFAFA;
$color-footer-darkmode: $color-bg-darkmode;
