/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $color-blockquote-border-ligthmode;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 3px solid $color-blockquote-border-darkmode;
  }
}
