/*------------------------------------*\
  Elements > hr
\*------------------------------------*/

hr {
  height: 1px;
  margin: double($base-spacing-unit) 0;

  border: 0;

  background-color: $color-border-lightmode;
}

@media (prefers-color-scheme: dark) {
  hr {
    background-color: $color-border-darkmode;
  }
}
