/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}


@media (prefers-color-scheme: dark) {
  img:not(.profile-img) {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter:brightness(50%);

    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

  img:not(.profile-img):hover {
    -webkit-filter:brightness(90%);
    -moz-filter:brightness(90%);
    filter:brightness(90%);
  }
}
