/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text-lightmode;
  font-size: $font-size-base;
  font-family: $font-base;
  font-weight: $font-weight-light;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


*::selection {
  color: $color-selection-lightmode;
  background: $color-brand-lightmode;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-bg-darkmode;
    color: $color-text-darkmode;
  }

  *::selection {
    color: $color-selection-darkmode;
    background: $color-brand-darkmode;
  }
}
