/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand-lightmode;
    }
  }
}


@media (prefers-color-scheme: dark) {
  .c-content{
    a:not(.c-btn) {
      @include attention() {
        color: $color-brand-darkmode;
      }
    }
  }
}
