/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  font-size: 14px;

  &__item {
    display: inline-block;
  }

  &__icon {
    fill: $color-text-lightmode;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand-lightmode;
    }
  }
}


@media (prefers-color-scheme: dark) {
  .c-social-nav {
    &__icon {
      fill: $color-text-darkmode;

      @include attention() {
        fill: $color-brand-darkmode;
      }
    }
  }
}
