/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 half($base-spacing-unit) quarter($base-spacing-unit) 0;

    font-size: $font-size-tiny;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $color-tag-bg-lightmode;
    transition: $global-transition;

    @include attention() {
      color: $color-brand-lightmode;
      text-decoration: none;
      background-color: $color-tag-bg-lightmode;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}

@media (prefers-color-scheme: dark)
{
  .c-tags {
    a {
      background-color: $color-tag-bg-darkmode;

      @include attention() {
        color: $color-brand-darkmode;
        background-color: $color-tag-bg-darkmode;
      }
    }
  }
}
